<!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!--Header-->
        <app-header></app-header>
        <!--Header-->
  
        <!--SideBar-->
        <app-sidebar></app-sidebar>
        <!--SideBar-->
  
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
          <div class="page-wrapper">
              <!-- ============================================================== -->
              <!-- Container fluid  -->
              <!-- ============================================================== -->
              <div class="container-fluid">
                <!--Bread crumb-->
                <app-breadcrumbs></app-breadcrumbs>
                <!--Bread crumb-->
                  <!-- ============================================================== -->
                  <!-- Start Page Content -->
                  <!-- ============================================================== -->
                  <router-outlet></router-outlet> 
                  
                  <!-- <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card block.
                            </div>
                        </div>
                    </div>
                  </div> -->
                  <!-- ============================================================== -->
                  <!-- End PAge Content -->
                  <!-- ============================================================== -->
                
  
              </div>
              <!-- ============================================================== -->
              <!--END Container fluid  -->
              <!-- ============================================================== -->
    
          </div>  
        <!-- ============================================================== -->
        <!-- END Page wrapper  -->
        <!-- ============================================================== -->
      </div>  
  